<%- include("partials/head", {styles: ['header-navbar-footer', ''], title: 'Home'}) %>
<body>
    <%- include("partials/header") %>
    <h1>Hola Proyects!</h1>

    <div class="banner">
        <img src="" alt="">
        <div><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui quos ducimus quod ab excepturi</p></div>
        <div><a href="/pitchs"><button>Reserva</button></a></div>
    </div>

    <section class="">
        <div>
            <i class="fas fa-user-plus"></i>
            <p>Crea tu cuenta</p>
            <p>Si todavia no lo hiciste, registrate y accedé a beneficios exclusivos para tu próximo partido</p>
        </div>
    </section>

    <section>
        <div>
            <i class="fas fa-user-times"></i>
            <p>Sanción de Jugadores</p>
            <p>¿Alguien faltó? Hace que reciba una sanción para los próximos encuentros.</p>
        </div>

        <div>
            <i class="fas fa-signal"></i>
            <p>Estadistica por jugador</p>
            <p>Cuantos mas partidos juegues, mejores beneficios tendrás</p>
        </div>

        <div>
            <i class="fas fa-users"></i>
            <p>Invitá a tus amigos</p>
            <p>Armá el partido desde la web, e invita tus amigos para que confirmen su asistencia</p>
        </div>

        <div>
            <i class="far fa-bell"></i>
            <p>Recordatorio de turnos</p>
            <p>Activá tus notificaciones, y te recordaremos con anticipación todos tus turnos</p>
        </div>

        <div>
            <i class="fas fa-futbol"></i>
            <p>¿Tenes un complejo?</p>
            <p>Contactate con nuestro equipo, y suma tus instalaciones para recibir a nuestros jugadores</p>
        </div>

        <div>
            <i class="fas fa-trophy"></i>
            <p>Demostrá quien es el mejor de tu ciudad</p>
            <p>Andá preparando tu equipo para nuestro torneo interno. Te esperan grandes premios!!!</p>
        </div>
    </section>





    <%- include("partials/footer") %>
</body>
</html>