<%- include("partials/head", {styles: ['header-navbar-footer', 'index-style'], title: 'Home'}) %>
<body>
    <%- include("partials/header") %>
    <!-- <h1>Bienvenido a FUTBOLISMO!</h1> -->
    <div class="banner">
        <div class="textBanner">
        <h2>FUTBOLISMO</h2>
        <div><p>La forma mas rápida de reservar tu cancha</p></div>
        <div class="buttonReserv"><a href="/pitchs"><button>Reserva</button></a></div>
        </div>
    </div>

    <section class="tarjetRegister">
        <article>
            <a href="/user/register"><i class="fas fa-user-plus"></i></a>
            <a href="/user/register"><h4>Crea tu cuenta</h4></a>
            <p>Si todavia no lo hiciste, registrate y accedé a beneficios exclusivos para tu próximo partido</p>
        </article>
    </section>

    <section class="containerTarjets">
        <article>
            <i class="fas fa-users"></i>
            <h4>Invitá a tus amigos</h4>
            <p>Armá el partido desde la web, e invita tus amigos para que confirmen su asistencia</p>
        </article>

        <article>
            <i class="far fa-bell"></i>
            <h4>Recordatorio de turnos</h4>
            <p>Activá tus notificaciones, y te recordaremos con anticipación todos tus turnos</p>
        </article>

        <article>
            <i class="fas fa-signal"></i>
            <h4>Estadistica personales</h4>
            <p>Cuantos mas partidos juegues, mejores beneficios tendrás</p>
        </article>

        <article>
            <i class="fas fa-trophy"></i>
            <h4>Torneo FUTBOLISMO</h4>
            <p>Prepará tu equipo y demostrá quien es el mejor de la ciudad.</p>
        </article>

        <article class="art5">
            <i class="fas fa-user-times"></i>
            <h4>Sanción de Jugadores</h4>
            <p>¿Alguien faltó? Hace que reciba una sanción para los próximos encuentros.</p>
        </article>

        <article class="art6">
            <i class="fas fa-futbol"></i>
            <h4>¿Tenes un complejo?</h4>
            <p>Suma tus instalaciones para recibir a nuestros jugadores</p>
        </article>
        
    </section>





    <%- include("partials/footer") %>
    <script src="javascript/script.js"></script>
</body>
</html>