@import url(variables.css);
.namePitch{
    text-align: center;
    text-decoration:underline;
}
.sectMain{
    display: flex;
    flex-direction: column;
}
.imgPitch{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgPitch img{
    width: 50%;
    margin-left: 10px;
}
.detailsPitch {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
.descriptionPitch {
    font-weight: 500;
    margin: 10px;
    
}
.dateHourPitch{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    background-color: var(--bgNavBar-color);
    border-radius: 10px;
    color: var(--secondText-color);
    padding: 10px;
    align-items: center;
}
.editDestroy{
    margin-left: 5%;
    margin-top: 20px;
    display: flex;
}
.editDestroy a, button{
    background-color: #fff;
    padding: 5px;
    filter: drop-shadow(2px 1px 1px #000000);
    text-decoration: none;
    color: #000000;
}
.editDestroy a:visited{
    color: #000000;

}
.editDestroy button{
    margin-left: 15px;
}
