@import url(variables.css);
.namePitch{
    text-align: center;
    text-decoration:underline;
}
.sectMain{
    display: flex;
    flex-direction: column;
}
.imgPitch{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgPitch img{
    width: 50%;
    margin-left: 10px;
}
.detailsPitch {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
.descriptionPitch {
    font-weight: 500;
    margin: 10px;
    
}
.dateHourPitch{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    background-color: var(--bgNavBar-color);
    border-radius: 10px;
    color: var(--secondText-color);
    padding: 10px;
    align-items: center;
}
.editDestroy{
    margin-left: 5%;
    margin-top: 20px;
    display: flex;
}
.edit-destroy-button{
    background-color: #fff;
    padding: 5px;
    filter: drop-shadow(2px 1px 1px #000000);
    text-decoration: none;
    color: #000000;
    border: 0px;
    border-radius: 3px;
    background-color: #25491f;
}
.edit-destroy-button{
    color: #000000;
}
.edit-destroy-button{
    margin-left: 8px;
}
.edit-destroy-button:hover {
    background: #ffffff;
    color: green !important;
  }
  .buttonReserv{
    margin-left: 48%;
    background-color: #fff;
    padding: 5px;
    filter: drop-shadow(2px 1px 1px #000000);
    text-decoration: none;
    color: #000000;
    border: 0px;
    border-radius: 3px;
    background-color: #c0d3d6;
  }
  .buttonReserv:hover {
    background: #ffffff;
    color: green !important;
  }