@import url(variables.css);

.banner {
    width: 100%;
    height: 250px;
    text-align: center;
    /* display: flex; */
    background-image: url('/img/DLT2.webp');
    background-size: cover;
    background-position: center;
}
.banner h2{
    margin: 0;
}
.textBanner{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: var(--secondText-color);
    text-shadow: 1px 5px 5px #000000;
    backdrop-filter: blur(3px)
}

.tarjetRegister{
    text-align: center;
    font-size: 14px;
    margin: 20px;
    color: var(--secondText-color);
}

.tarjetRegister a {
    text-decoration: none;
    text-decoration-style: none;
    color: var(--secondText-color);

}

.containerTarjets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px;
    margin-bottom: 20px;

}
.containerTarjets article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    height: 200px;
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    background-color: var(--bgNavBar-color);
    border-radius: 15px;
    text-wrap: balance;
}
.buttonReserv a button{
    background-color: var(--cardIcon-color);
    color: #000000;
    border: 0;
    border-radius: 10px;
}
article i {
    font-size: 24px;
    color: var(--cardIcon-color)
}


@media (min-width: 780px) {
    .textBanner{
        font-size: 25px;
    }
    .containerTarjets article {

        width: 30%;
        height: 240px;
        text-align: center;
        font-size: 18px;
        margin-top: 10px;
        text-wrap: balance;
        }
        .tarjetRegister{
            font-size: 18px;
            /* margin: 20px; */
        }
        article i {
            font-size: 35px;
        }
        .containerTarjets {
            gap: 15px;
        }
        .banner{
            height: 400px;
        }
}

@media (min-width: 1024px) {

}