@import url(variables.css);
.cardProfile{
    margin: 10px;
}
.cardProfile article{
    background-color: var(--bgNavBar-color);
    border: 1px solid red;
    display:flex;
    justify-content:start;
    align-items: center;
    width: 100%;
    text-decoration: none;
}
.cardProfile  div {
    width: 30%;
}
.cardProfile div img {
    width: 50px;
    padding: 10px;
    object-fit: cover;
}
.infoUsers{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    text-align: center;
}
.infoUsers div{
    display: flex;
    flex-direction: column;
}
.infoUsers p{
    display: inline;
    flex-direction: row;
    color: black;    
    font-size: 15px;
    text-wrap: nowrap;
    border: 1px solid red;
}
.imgId{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid red;
}