@import url(variables.css);

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    margin-top: 128px;
  }
form div {
    margin: 15px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 25px;
}
h4 {
    font-size: 20px;
}
form div label{
    font-weight: 700;
}