@import url(variables.css);
.cardProfile{
    margin: 10px;
    height: 100%;
}
.cardProfile article{
    background-color: var(--bgNavBar-color);
    display:flex;
    justify-content:start;
    align-items: center;
    width: 100%;
    text-decoration: none;
}
.cardProfile article div {
    width: 20%;
}
.cardProfile div img {
    width: 50px;
    object-fit: cover;
}
.imgId{
    margin-left:20px ;
    width: 50px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.imgId a{
    color: black;
    text-decoration: none;
}
.infoUsers{
    display: grid;
    grid: repeat(2, 47%) / auto-flow 150%;
    align-items: center;
    margin-left: 10%;
    width: 100%;
    text-wrap: nowrap;
    padding-bottom: 10px;
    /* border: 1px solid red; */
}
.infoUsers p{
    box-sizing: content-box;
    text-wrap: nowrap;
    margin-bottom: 2px;
    padding: 0;
    padding-bottom: 2px;
}