@import url(variables.css);

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:  center;
    margin-bottom: 25px;
}
form div {
    margin: 15px;
}
h2{
    font-size: 25px;
    margin-left: 5px;
}
h3{
    font-size: 20px;
    text-align: center;
    text-wrap: wrap;
}
h4 {
    font-size: 18px;
}
form div label{
    font-size: 14px;
    font-weight: 700;
    margin-left: 22px;
}

button, input, optgroup, select, textarea
{
  margin-left: 1vw;
  display: flex;
}

form div
{
  margin: 15px;
  display: flex;
  flex-direction: column;
  margin-left: 44px;
}

