@import url(variables.css);

.cardProfile article{
    background-color: var(--bgNavBar-color);
    border: 1px solid red;
    display:flex;
    align-items: center;
    width: 100%;
    text-decoration: none;
}
.cardProfile  div {
    width: 30%;
}
.cardProfile div img {
    width: 50px;
    padding: 10px;
    margin-left: 15px;
}
.infoUsers{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.infoUsers p{
    display: inline;
    color: black;    
    font-size: 15px;
    border: 1px solid red;
}

