:root{
    /* colores generales */
    --background-color: #35682d;
    --oneText-color: #00000000;
    --secondText-color: #fff;
    --bgNavBar-color: rgba(0,0,0,0.3);
    
    

    /* parametros tarjetas */

    --card-color: ;
    --spacing-padding: 10px;
}