<footer>
    <div class="socialMedia">
    <div> <h3>Nuestras redes</h3></div>
        <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i> @futbolismo</a>
        <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"> </i> /futbolismo</a>
        <a href="https://www.whatsapp.com/?lang=es_LA" target="_blank"><i class="fab fa-whatsapp"> </i> +1245465776</a>
    </div>

    <div class="linkInfo">
        <a href="">Sobre Nosotros</a>
        <a href="">Contactanos</a>
        <a href="">Informacion</a>
    </div>
    
    <!-- Script para chat en servidor gratuito -->
    <!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/6565f07d1db16644c5557df2/1hgb36r8l';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->
    <script src="/javascript/script.js"></script>
</footer>
