<footer>
    <div>
        <h3>Nuestras redes</h3>
        <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://www.whatsapp.com/?lang=es_LA" target="_blank"><i class="fab fa-whatsapp"></i></a>
    </div>

    <div>
        <a href="">Sobre Nosotros</a>
        <a href="">Contactanos</a>
        <a href="">Informacion</a>
        <a href=""></a>
    </div>

</footer>
