<footer>
    <div class="socialMedia">
       <div> <h3>Nuestras redes</h3></div>
        <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i> @futbolismo</a>
        <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"> /futbolismo</i></a>
        <a href="https://www.whatsapp.com/?lang=es_LA" target="_blank"><i class="fab fa-whatsapp"> +1245465776</i></a>
    </div>

    <div class="linkInfo">
        <a href="">Sobre Nosotros</a>
        <a href="">Contactanos</a>
        <a href="">Informacion</a>
    </div>
</footer>
