<header>
    <nav>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Partidos</a></li>
            <li><a href="">Canchas</a></li>
            <li><a href="">Ingreso</a></li>
            <li><a href="">Registro</a></li>
        </ul>
    </nav>
</header>