<header>
    <nav class="navBar">
        <div class="navMobile">
            <div class="burgerLogo">
                <div class="burgerMenu">
                    <i class="fas fa-bars"></i>
                </div>
                <div class="logo">
                    <a href="/"><img src="/img/logo-prueba-1.svg" alt="" /></a>
                    <!-- poner logo del proyecto, o imagen por default  -->
                </div>
            </div>
            <div class="buttonLogin">
                <a href="/user/login"><button>Inicia Sesión</button></a>
            </div>
        </div>
        <div class="list">
            <div class="logoDesktop">
                <a href="/"><img src="/img/logo-prueba-1.svg" alt="" /></a>
                <!-- poner logo del proyecto, o imagen por default  -->
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/user/profile">Partidos</a></li>
                <!-- deberia llevar a la vista mi perfil  -->
                <li><a href="/pitchs">Canchas</a></li>
                <li><a href="/user/login">Ingreso</a></li>
                <li><a href="/user/register">Registro</a></li>
            </ul>
        </div>
    </nav>
</header>