<header>
    <nav class="navbar">
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

        <div class="logo">
            <img src="" alt=""> <!-- poner logo del proyecto, o imagen por default  -->
        </div>
        
        <div class="button-login">
            <a href="/user/login"><button>Inicia Sesión</button></a>
        </div>

        <div class="list">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="">Partidos</a></li>  <!-- deberia llevar a la vista mi perfil  -->
                <li><a href="/pitchs">Canchas</a></li>
                <li><a href="/user/login">Ingreso</a></li>
                <li><a href="/user/register">Registro</a></li>
            </ul>
        </div>
    </nav>
</header>


