<%- include("../partials/head", {styles: ['header-navbar-footer', 'pitchs-style'], title: 'Detail pitchs'}) %>

<body>
    <%- include("../partials/header") %>
    <div>
        <h2>detalle de la sede</h2>
    </div>

    <div>
        <p>imagen principal de la sede</p>
        <img src="" alt="">
    </div>
    <div>
        <p>nombre</p>
    </div>
    <div>
        <p>descripcion</p>
    </div>
    <div>
        <label for="">Fecha</label>
        <select name="" id="">
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
        </select>
    </div>
    <div>
        <label for="">Horario</label>
        <select name="" id="">
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
        </select>
    </div>
    <div>
        <button>reservar</button>
    </div>
    <%- include("../partials/footer") %>
</body>
</html>