<%- include("partials/head", {styles: ['', ''], title: 'Pitchs'}) %>

<body>
    <main>
    <!-- Header -->
    <%- include("partials/header", { styles: ['', '']}) %>
    <!-- /Header -->


    <div>
        <h2>TODAS NUESTAS SEDES</h2>
    </div>

</main>
    <!-- footer  -->
    <%- include("partials/footer"), {styles: ['', '']} %>
    <!-- /footer -->
</body>

</html>