<%- include("../partials/head", {styles: ['', ''], title: 'Pitchs'}) %>

<body>
    <main>
    <!-- Header -->
    <%- include("../partials/header", { styles: ['', '']}) %>
    <!-- /Header -->


    <div>
        <h2>TODAS NUESTAS SEDES</h2>
    </div>

    <section>
        <div>
            <p>imagen de la cancha</p>
            <img src="" alt="">
        </div>
        <div>
            <p>nombre de la cancha</p>
        </div>
        <div>
            <p>direccion</p>
        </div>
        <div>
            <p>Zona</p>
        </div>
        <div>
            <a href="/pitch/detail"><p>ver mas</p></a>
        </div>
    </section>

</main>
    <!-- footer  -->
    <%- include("../partials/footer"), {styles: ['', '']} %>
    <!-- /footer -->
</body>

</html>