<%- include("../partials/head", {styles: ['', ''], title: 'Login'}) %>
<body>
    <main>
    <!-- Header -->
    <%- include("../partials/header", { styles: ['', '']}) %>
    <!-- /Header -->


    <div>
        <h2>inicia sesion</h2>
    </div>

    <div>
        <form action="/">Ingresá</form>
        <div>
            <label for="name">Usuario</label>
            <input type="text" name="name" id="name">
        </div>
        <div>
            <label for="password">Contraseña</label>
            <input type="password" name="password" id="password">
        </div>

        <div>
            <a href="/user/register"><button type="submit" id="">Creá tu cuenta</button></a>
            <button type="submit" id="submit">Enviar</button>
        </div>
    </div>

</main>
    <!-- footer  -->
    <%- include("../partials/footer"), {styles: ['', '']} %>
    <!-- /footer -->
</body>
</html>