<%- include("../partials/head", {styles: ['header-navbar-footer', 'user-style'], title: 'Login'}) %>

<body>
    <main>
        <!-- Header -->
        <%- include("../partials/header") %>
        <!-- /Header -->

        <div class="mainForm">
            <div>
                <h3>Bienvenid@</h3>
            </div>

                <form action="/user/login" method="POST">
                    <h4>Ingresá a tu cuenta</h4>
                    <div>
                    <label for="email">Email</label><br>
                    <input 
                    type="email" 
                    id="email" 
                    name="email" 
                    >
                </div>
                <div>
                    <label for="password">Contraseña</label><br>
                    <input 
                    type="password" 
                    id="password" 
                    name="password" 
                    >
                </div>
                <% if (locals.errors?.unauthorized) { %>
                    <p style="color: red;"><%= errors.unauthorized.msg %></p>
                <% }%>
                
                <div><input class="checkbox" type="checkbox" name="remember_me"><h5> Recordar mi cuenta</h5>
                </div>
                
                <div>
                    <button type="reset" id="reset">Borrar</button>
                    <button type="submit" id="submit">Enviar</button>
                </div>
        </div>
    </form>
    </main>
    <!-- footer  -->
    <%- include("../partials/footer") %>
    <!-- /footer -->
</body>

</html>