<%- include("../partials/head", {styles: ['header-navbar-footer', 'user-style'], title: 'Profile'}) %>
<body>
    <main>
    <!-- Header -->
    <%- include("../partials/header") %>
    <!-- /Header -->

        <h1> perfil de usuario </h1>



</main>
<!-- footer  -->
<%- include("../partials/footer"), {styles: ['', '']} %>
<!-- /footer -->
</body>
</html>