<%- include("../partials/head", {styles: ['', ''], title: 'Profile'}) %>
<body>
    <main>
    <!-- Header -->
    <%- include("../partials/header", { styles: ['', '']}) %>
    <!-- /Header -->

        <h1> perfil de usuario </h1>



</main>
<!-- footer  -->
<%- include("../partials/footer"), {styles: ['', '']} %>
<!-- /footer -->
</body>
</html>